/* layout */
#Content {
	width: 700px;
}
#SideBar {
	float: right;
	width: 260px;
}
	.relatedVideos li {
		clear: left;
		margin: 10px 0;
	}
	.relatedVideos img {
		float: left;
		margin: 0 5px 5px 0;
		
	}

.VideoGallery {
	list-style: none;
	margin: 0;
	padding: 0;
}
.VideoGallery li {
	width: 180px;
	height: 180px;
	margin: 0 20px 20px 0;
	padding: 10px;
	float: left;
}
	.VideoGallery li img {
		border: 1px solid #aaa;
	}

.VideoContainer {
	background: #000;
	width: 600px;
	margin: 20px 0;
}

.clear {
	clear: both;
}